<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1" name="viewport" />
<meta name="description" content="Responsive Admin Template" />
<meta name="author" content="RedstarHospital" />
<title>e-Hospital | Nashik Municipal Corporation</title>
<!-- google font -->
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"
/>
<!-- icons -->
<link href="/views/assets/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
<link href="/views/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<!--bootstrap -->
<link href="/views/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<!-- Material Design Lite CSS -->
<link rel="stylesheet" href="/views/assets/material/material.min.css">
<link rel="stylesheet" href="/views/css/material_style.css">
<!-- Theme Styles -->
<link href="/views/css/theme_style.css" rel="stylesheet" id="rt_style_components" type="text/css" />
<link href="/views/css/plugins.min.css" rel="stylesheet" type="text/css" />
<link href="/views/css/style.css" rel="stylesheet" type="text/css" />
<link href="/views/css/responsive.css" rel="stylesheet" type="text/css" />
<link href="/views/css/theme-color.css" rel="stylesheet" type="text/css" />
<!-- favicon -->
<link rel="shortcut icon" href="/views/img/favicon.ico" />
</head>
<body class="fixed-nav sticky-footer bg-light" id="page-top">
  <!-- Navigation-->
    <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <a class="navbar-brand" href="dashboard">Users</a> 
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
      
    </nav> -->



<div class="content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 form-group">
        <h1>
          Login
        </h1>
        <div class="row">
          <div class="col-md-8 mx-auto mt-5">
            <div class="row">
              <div class="col-md-12 col-md-12">
                <div class="card card-box" style="border: 2px solid rgb(75, 4, 75);">
                  <div class="card-head"style="border-bottom: 2px solid rgb(75, 4, 75);">
                    <header>Enter Your Credentials</header>
                  </div>
                  <div class="card-body" id="bar-parent">
                    <form action="/login" method="post" id="form_sample_1" class="form-horizontal">
                      <div class="form-body">
                        <div class="form-group row">
                          <label class="control-label col-md-3"><strong>Email:</strong>
                            <span class="text-danger">*</span>
                          </label>
                          <div class="col-md-7">
                            <input class="form-control input-height" name="txtemail" id="uemail" type="text">     
                          </div>
                        </div>                        
                        <div class="form-group row">
                          <label class="control-label col-md-3"><strong>Password:</strong>
                            <span class="text-danger">*</span>
                          </label>
                          <div class="col-md-7">
                            <input class="form-control input-height" name="txtpass" id="upass" type="password" >   
                          </div>
                        </div>
                        <div class="form-actions">
                          <div class="form-group row">
                            <div class="offset-md-3 col-md-7">
                              <input type="submit" value="Login" class="btn btn-primary btn-block col-md-3" />
                            </div>
                          </div>
                        </div>
                        <!--  <a href="add-users">Forgot Password</a> &nbsp;&nbsp; -->
                        <a href="#">Forgot Password</a> 
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> <!--col-8 -->
    </div> <!--row-->
  </div><!-- /.container-fluid-->
</div><!-- /.content-wrapper-->




    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>2018 © iMorse Technologies pvt.ltd.</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    


    <!-- start js include path -->
    <script src="/views/assets/jquery.min.js"></script>
    <script src="/views/assets/popper/popper.js"></script>
    <script src="/views/assets/jquery.blockui.min.js"></script>
    <script src="/views/assets/jquery.slimscroll.js"></script>
    <!-- bootstrap -->
    <script src="/views/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/views/assets/bootstrap-switch/js/bootstrap-switch.min.js"></script>
    <!-- counterup -->
    <script src="/views/assets/counterup/jquery.waypoints.min.js"></script>
    <script src="/views/assets/counterup/jquery.counterup.min.js"></script>
    <!-- Common js-->
    <script src="/views/assets/app.js"></script>
    <script src="/views/assets/layout.js"></script>
    <script src="/views/assets/theme-color.js"></script>
    <!-- material -->
    <script src="/views/assets/material/material.min.js"></script>
    <!-- chart js -->
    <!-- <script src="/views/assets/chart-js/Chart.bundle.js"></script>
    <script src="/views/assets/chart-js/utils.js"></script>
    <script src="/views/assets/chart-js/home-data.js"></script> -->
    <!-- end js include path -->
    </body>
    
    </html>

